.icon {
  width: 20px;
  height: 20px;
  border-radius: var(--radius-round);
  color: white;

  & > .invited {
    background-color: var(--yellow-5);
  }

  & > .accepted {
    background-color: var(--green-5);
  }

  & > .declined {
    background-color: var(--red-7);
  }
}
